@CHARSET "EUC-KR";
.bg{
	background-color: rgba(250,250,250,0.9);
	width: 1000px;
	margin: 10px;
	padding: 10px;
}
.tb{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-collapse: collapse;
}
.tb{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-collapse: collapse;
}
.tb th, .tb td{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
table.type01 {
	background-color: #dcdcd1;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
}

table.type01 thead th {
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
table.type01 tbody th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #ececec;
}
table.type01 td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
button.menubar {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button.menubar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
button.menubar:active {
	position:relative;
	top:1px;
}
button.menu_insert {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:13px;
	padding:4px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
button.menu_insert:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
button.menu_insert:active {
	position:relative;
	top:1px;
}
table.type01 tr:HOVER{
	background-color:#d8d3d8;
}
.list th{
	height: 30px;
	background-color: #bfbfbf;
	border-bottom: 1px solid gray;
}

.list td{
	background-color: white;
	height: 29px;
	border-bottom: 1px solid #e6e6e6;
}

.list{
	border-collapse:collapse;
	border-top: 2px solid gray;
	border-bottom: 1px solid gray;
}
